<article>
  @if (task) {
  <h2>{{ task.title }}</h2>
  <time>{{ task.time }}</time>
  <p>{{ task.summary }}</p>
  <p>{{ task.completed ? "completed" : "not completed" }}</p>
  <div class="actions">
    <button (click)="toggleEdit(task.id)">Edit</button>
    <button (click)="deleteTask(task.id)">Delete</button>
  </div>
  @if (editTaskId === task.id) {
  <div class="actions mt-5">
    <div class="mb-5">
      Title: <input #taskTitle type="text" [value]="task.title" /> <br />
      Summary: <input #taskSummary type="text" [value]="task.summary" /> <br />
      Time: <input #taskTime type="text" [value]="task.time" /> <br />
      Completed:
      <input #taskCompleted type="checkbox" [checked]="task.completed" />
    </div>
    <button
      (click)="
        saveTask(
          task.id,
          taskTitle.value,
          taskSummary.value,
          taskTime.value,
          taskCompleted.checked
        )
      "
    >
      Save
    </button>
  </div>
  } }
</article>
