<div>
  @if (user) {
  <section id="tasks">
    <header>
      <menu>
        <input #taskTitle type="text" placeholder="New Task" />
        <input
          class="mt-5"
          #taskSummary
          type="text"
          placeholder="New Summary"
        />
        <label>
          <input #taskCompleted type="checkbox" />
          Completed
        </label>
        <button
          (click)="
            addTask(taskTitle.value, taskSummary.value, taskCompleted.checked);
            taskTitle.value = '';
            taskSummary.value = '';
            taskCompleted.checked = false
          "
        >
          Add Task
        </button>
      </menu>
      <h2>{{ user.name }}</h2>
      <img [src]="getUserAvatar(user.avatar)" alt="{{ user.name }}" />
    </header>
    <ul>
      @for (taskItem of task; track taskItem.id) {
      <li>
        <app-task-item
          [task]="taskItem"
          (taskDeleted)="deleteTask($event)"
          (editTask)="updateTaskTitle($event)"
        />
      </li>
      }
    </ul>
  </section>

  }
</div>
