<div>
  @if (user) {
  <section id="tasks">
    <header>
      <menu>
        <div class="search-container">
          <app-task-filter
            (filtersChanged)="updateFilters($event)"
          ></app-task-filter>
        </div>
        <div class="myx-30">
          <input #taskTitle type="text" placeholder="New Task" />
          <input
            class="mt-5"
            #taskSummary
            type="text"
            placeholder="New Summary"
          />
          <label>
            <input #taskCompleted type="checkbox" />
            Completed
          </label>
          <button
            (click)="
              addTask(
                taskTitle.value,
                taskSummary.value,
                taskCompleted.checked
              );
              taskTitle.value = '';
              taskSummary.value = '';
              taskCompleted.checked = false
            "
          >
            Add Task
          </button>
        </div>
      </menu>
      <h2>{{ user.name }}</h2>
      <img [src]="getUserAvatar(user.avatar)" alt="{{ user.name }}" />
    </header>

    <div class="pagination-controls">
      <button
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Prev
      </button>
      @if (totalPages > 0) {
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      } @if (totalPages === 0) {
      <span>No tasks found</span>
      }
      <button
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages || filteredTasks.length === 0"
      >
        Next
      </button>
    </div>

    <ul>
      @for (taskItem of paginatedTasks; track taskItem.id) {
      <li>
        <app-task-item
          [task]="taskItem"
          (taskDeleted)="deleteTask($event)"
          (editTask)="updateTask($event)"
          (taskCompleted)="completeTask($event)"
        />
      </li>
      }
    </ul>
  </section>
  }
</div>
